<div class="lg:col-span-7 grid grid-rows-[1fr_86px] gap-3 min-h-0 min-w-0">
  <div class="min-h-0">
    {% include "rag/components/conversation_panel.jinja" %}
  </div>
  <div class="min-h-0">
    {% include "rag/components/query_input_box.jinja" %}
  </div>
</div>

<div class="lg:col-span-5 grid grid-rows-[1fr_220px] gap-3 min-h-0 min-w-0">
  <div class="min-h-0">
    {% include "rag/components/graph_panel.jinja" %}
  </div>
  <div class="min-h-0">
    {% include "rag/components/citations_panel.jinja" %}
  </div>
</div>
