<tr id="repo-row-{{ repo.id }}">
  <td class="font-medium">{{ repo.name }}</td>
  <td class="uppercase text-xs">{{ repo.source_type }}</td>
  <td>{% include "rag/components/repository_status_badge.jinja" %}</td>
  <td>{{ repo.updated_at }}</td>
  <td class="text-center">
    {% include "rag/components/repository_actions.jinja" %}
  </td>
</tr>
